.navbar-brand{
    color: pink !important;
}

.navbar-brand:hover{
    font-weight: bold;
    color: rgb(192, 255, 234) !important;
}

.nav-link{
    color: white !important;
}

.nav-link:hover{
    color: rgb(255, 255, 255) !important;
    background-color: rgba(0, 255, 200, 0.493);
    border-radius: 5px;
}