.navbar-brand{
    color: pink !important;
}

.navbar-brand:hover{
    color: rgb(192, 255, 234) !important;
    background-color: blueviolet;
}

.nav-link{
    color: white !important;
}

.nav-link:hover{
    color: rgb(255, 255, 255) !important;
    background-color: blue;
}